@page "/machinelist"
@using System.Text.Json
@using Maskin.Client.Models
@using System.Text
@using System.Net.Mime

<PageTitle>Machines </PageTitle>
<h3>Machines</h3>


<label>Enter Name</label>
<input @bind="MachineName"/>
<br />
<label>Enter data</label>
<input @bind="MachineData" />
<br />
<label>Status</label>
<input type="checkbox" @bind="MachineStatus">
<br />
<button type="submit" @onclick="@AddMachine">Add Machine</button>

@if (_machines != null)
{

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Status</th>
            <th scope="col">Data</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var machine in _machines)
        {
            <tr>
                <td>@machine.Name</td>
                    @if (@machine.Status)
                    {
                        <label type="text" readonly class="form-control-plaintext">Online</label>
                    }
                    else
                    {
                        <label type="text" readonly class="form-control-plaintext">Offline</label>
                    }
                    <td>@machine.Data</td>
                <td><button @onclick="@(() => DeleteMachine(@machine.Id))">Delete</button></td>
            </tr>
        }
        </tbody>
    </table>
}
